/* https://raw.githack.com/mattacrayner/public/main/style.css */
	
/*

ID SELECTOR
<x id="test"></x>
#test {}

CLASS SELECTOR
<x class="test"></x>
.test {}

ELEMENT SELECTOR
<test></test>
test {}

PSEUDO CLASS SELECTOR
test:pseudo-class {}

PSEUDO ELEMENT SELECTOR
test::pseudo-element {}

*/

body {
	color: black;
	background-color: #f5faff;
	font-family: Verdana;
	font-size: 14;
	padding-left: 100px;
	padding-right: 100px;
}

h1 {
	font-size: 30;
}
h2 {
	font-size: 20;
}

.ms1 {
	background-color: #0099cc;
}

#clickable:hover {
	background-color: #6600cc;
}

#rounded {
	border-radius: 5px;
}
